body {
  color: #454545;
}
#app {
  height: 100%;
  width: 100%;
}
.field {
  position: relative;
  border: 1px solid darkgrey;
  border-radius: 7px;
  padding-top: 5px;
  padding-right: 5px;
}
.boid {
  position: absolute;
  width: 20px;
  height: 20px;
}
.header {
  padding: 0 0 10px 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.subheader {
  padding: 0 0 10px 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}